
/*START CHANGE DEFAULT BOOTSTRAP STYLES*/

button:focus, button:active, button:hover, button:target, input:focus, input:active, input:hover, input:target {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

/*END CHANGE DEFAULT BOOTSTRAP STYLES*/

/*START FONT STYLES*/

p, h1, h2, h3, h4, h5, h6, label, button, span, a, small, ul, table .btn {
  font-family: 'playfairDisplay', Fallback, sans-serif;
}

::placeholder {
  font-family: 'playfairDisplay', Fallback, sans-serif;
}

@font-face {
  font-family: 'playfairDisplay';
  src: url('./assets/fonts/playfairDisplay.ttf') format('opentype');
}

/*END FONT STYLES*/
